@import '../variables';

.app-header {
  height: $header-height;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 10px;
  z-index: 100;

  font-size: 1.1rem;
}

.account-info {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0;
}

.no-total {
  display: none
}
