@import './variables';

.root-app {
  padding-top: $header-height;

  .container-flex {
    display: flex;
  }

  .right-panel {
    width: 100%;
    min-height: calc(100vh - #{$header-height} - #{$navbar-height});
  }

  @media all and (min-width: $desktop_BP_min_width) {
    .right-panel {
      width: 100% - $left-panel-width;
    }
  }
}
