@import './src/styles/variables';

.left-panel {
  width: $left-panel-width;
  height: calc(100% - #{$header-height});
  position: fixed;
  left: 0;

  display: none;

  @media all and (min-width: 768px) {
    display: block;
  }
}
