@import '../../variables';

.operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;

  @media all and (min-width: $desktop_BP_min_width) {
    max-width: 600px;
  }

  @media screen and (max-width: $mobile_BP_max_width) {
    max-width: 768px;
    height: 80px;
  }

  input[type=checkbox] {
    margin-right: 10px;
  }

  .label {
    flex-grow: 2;
  }

  .montant {
    min-width: 90px;
    padding-right: 15px;
    text-align: right;

    &.montantIn {
      color: green;
    }

    &.montantOut {
      color: red
    }
  }

  .noCategory {
    color: grey;
  }

  .edit-operation {
    text-decoration: none;
  }
}
